.content{width:100%;height:100%;display: flex;justify-content: start;transition: all .3s;}
.navlist{width:250px;margin-left:-250px;transition: all .3s;}
.main_content{width:100%;transition: all .3s;}
.main_header{display: flex;justify-content: space-between;padding:0 25px;box-sizing:border-box;background:#EA4758;}
.icon-menu{display: block;width:25px;height:3px;padding:5px 0;border-top:3px solid;border-bottom:3px solid;background-color:currentColor;background-clip: content-box;}
.main_header_title,.hang_detail_title{display:block;font-size:1.6rem;height:45px;line-height:45px;color:white;width:100%;}
.hang_detail_title{font-size:1.3rem;height:40px;;line-height:40px;}
.main_header_title:hover{color:white;}
.data_content_top{width:100%;margin-top:0px;overflow-x: auto;background: white;white-space: nowrap;transition:all .3s;position:relative;}
.data_content_top span{display: inline-block;height:45px;line-height:45px;padding:0 35px 0 15px;box-sizing: border-box;position: relative;}
.data_content_top_bottom{display:none;background:white;width:100%;transition: all .3s;position: absolute;}
.data_content_top_bottom p{display: flex;justify-content: space-between;margin:10px 15px;height:35px;line-height:35px;}
/* 基础信息 */
.data_base_icon{display:inline-block;width:20px;height:15px;background-size:100% 15px;background-repeat: no-repeat;background-position: 0 0;position: relative;top:2px;right:5px;}
.data_base_img{background-image:url('/imgs/base_data.png');}
.data_base_new{background-image:url('/imgs/base_new.png');}
.icon-li{position: absolute;left:-5px;top:0;bottom:0;margin:auto;width:3px;height:3px;border-radius:100%;}
.data_base_icon1{background:rgb(18, 150, 219);}
.data_base_icon2{background:rgb(245, 166, 35);}
.data_base_icon3{background:rgb(121, 68, 125);}
.data_base_icon4{background:rgb(18, 150, 219);}
.data_base_icon5{background:rgb(245, 166, 35);}
.data_base_icon6{background:rgb(121, 68, 125);}
.data_base_icon7{background:rgb(18, 150, 219);}
.data_base_icon8{background:rgb(245, 166, 35);}
.color_cc{color:#ccc !important;}
.color_red{color:red !important;}
.data_content{width:800px;margin:15px auto 75px;}
.data_base{background:white;border-radius:5px;margin-top:10px;}
.data_base_title{font-size:1.6rem;padding:10px 0;text-align:center;}
.data_base_list li{display:flex;justify-content: space-between;font-size:1.4rem;align-items:center;border-bottom:1px dotted rgb(153,153,153);margin:0 13px 0 13px;box-sizing:border-box;}
.index_data .data_base_list li:last-child, 
.buy_integral .data_base_list li:last-child,
.hang_integral .data_base_list li:last-child{border:none;}
/* .personal_data .data_base_list li:last-child,  */
.data_base_span{display:inline-block;height:45px;line-height:45px;position: relative;}
.data_base_titleLeft{color:rgb(153,153,153);position: relative;}
.data_base_titleRight{color:rgb(68,68,68);}
.div_li{margin:0px 10px;padding:10px 0;border-bottom:1px dotted rgb(153,153,153);}
.div_li:last-child{border:none;}
.data_base_div{display: flex;justify-content: space-between;}
.div_left_title{font-weight:bold;font-size:1.4rem;display: block;width:70%;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.div_right_date{color:rgb(153,153,153);line-height:30px;}
.div_base_detail{color:rgb(153,153,153);}
.div_detail{font-size:1.3rem;width:100%;position: relative;}
.link_span{display: inline-block;width:85%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.main_link_icon_right{margin-right:5px;}
.link_more{font-size:1.3rem;color:#4A90E2;display:block;width:100%;height:45px;line-height:45px;text-align:center;}
.link_more a{color:#4A90E2;}
.link_detail_score{color:#4A90E2;font-size:1.2rem;}
.footer{background:white;height:65px;position:fixed;bottom:0;width:100%;display:flex;justify-content: space-around;box-shadow:0 -5px 10px rgb(235, 233, 233);}
.footer a{text-align:center;color:#535353;}
.footer a:active{color:#EA4758;}
.footer_icon{display:block;width:24px;height:29.7px;margin:10px auto 0;background-position: 0 0;background-repeat: no-repeat;background-size:100%;}
.index_icon{background-image:url('/imgs/index2.png');}
.recreation_icon{background-image:url('/imgs/recreation1.png');}
.user_icon{background-image:url('/imgs/user1.png');}
.personal_data .data_base{padding-bottom:45px;}
.editButtonBox{margin-top:45px;}
.editUserInfo{display: block;margin:0 auto;width:80%;height:45px;line-height:45px;color:white;background:#EA4758;border:none;border-radius:5px;transition:all .3s;}
.editText{color:#1296DB;}

.index_data{display:block;transition:all .3s;}
.personal_data, .editPass, .recreation_platform,.buy_integral,.hang_integral{display:none;transition:all .3s;}
/* 修改密码页面 */
.editPass .data_base{padding-bottom:45px;}
.editPassTitle{font-weight:bold;color:#EA4758;text-align:left;margin-left:15px;}
.code_box{margin:10px 0;width:45px;transition:all .3s;}
.code_box i{display:none;}
.my_code{display:block;width:45px;height:45px;}
/* 娱乐中心 */
.userInfo{height:140px;}
.userInfo_top{display:block;height:45px;margin:0 15px;position: relative;top:15px;}
.userInfo_head_img{display:inline-block;width:47px;height:47px;vertical-align: middle;}
.userInfo_head_img img{display: block;width:100%;height:100%;}
.userInfo_title{display:inline-block;height:47px;vertical-align: middle;margin-left:10px;color:rgb(68, 68, 68);}
.userInfo_title p{display: block;height:23px;line-height:23px;}
#user_name{font-weight:bold;}
#user_core{color:rgb(234, 71, 88);}
.userInfo_bottom{display: flex;height:45px;margin:0 15px;position: relative;top:25px;justify-content: space-around;}
.userInfo_bottom button{display: inline-block;width:120px;height:40px;border-radius:25px;background:rgb(241, 242, 246);border:none;color:rgb(68, 68, 68);transition:all .3s;}
.userInfo_bottom button:active{color:#EA4758;user-select: none;}
.bet,.leader_button{display: flex;height:45px;margin:0 15px;top:25px;justify-content: space-around;align-items: center;}
.leader_button{height:65px;}
.bet button,.leader_button button{display: inline-block;width:100px;height:40px;border-radius:5px;border:none;transition:all .3s;}
.leader_button button{border:1px solid rgb(234, 71, 88);}
.bet_r{color:rgb(102, 102, 102);}
.bet_r{background:rgb(234, 71, 88);color:white;}
.leader_btn{color:rgb(234, 71, 88);background:white;}
.leader_btn_active{background:rgb(234, 71, 88);color:white;}
.lottery{display: flex;justify-content: flex-start;height:35px;align-items:center;}
.lottery_margin{margin:0 0 15px 0;}
.lottery_title{display:inline-block;height:35px;line-height:35px;}
.lottery_color{color:rgb(153, 153, 153);}
.lottery_color_red{color:rgb(234, 71, 88);}
.lottery_number{display: inline-block;width:30px;height:30px;line-height:30px;text-align:center;color:white;border-radius:100%;margin:0 10px;}
.lottery_number:first-child{margin:0 10px 0 0;}
.lottery_number1{background:rgb(234, 71, 88);}
.lottery_number2{background:rgb(29, 99, 174);}
.lottery_number3{background:rgb(91, 193, 37);}
.lottery_number4{background:rgb(207, 135, 0);}
.lottery_number5{background:rgb(121, 68, 125);}
.lottery_input{justify-content: space-around;}
.div_lottery_li{margin:0px 10px;padding:10px 0;}
.div_lottery_li:first-child{border-bottom:1px dotted rgb(153,153,153);display: flex;justify-content: space-between;}
.inputNumber{display: inline-block;height:35px;width:55px;border:1px solid #ccc;border-radius:3px;padding-left:5px;box-sizing: border-box;}
.leader_board{height:65px;text-align:center;}
.leader_board_head{display: inline-block;height:45px;line-height:45px;font-weight:bold;font-size:1.2rem;vertical-align:top;}
.i1{width:15px;}
.head1_bg{display: block;width:10px;height:10px;border-radius:100%;background:rgb(234, 71, 88);}
.head2_bg{display: block;width:5px;height:5px;border-radius:100%;background:rgb(74, 144, 226);}
.head1_left{float:left;margin-top:10px;}
.head1_right{float:right;margin-top:20px;}
.head2_left{float:left;margin-top:20px;}
.head2_right{float:right;margin-top:10px;}
.leader_list_item,.leader_list_item2{height:45px;width:100%;display: flex;justify-content: space-between;align-items: center;}
.leader_list_item div,.leader_list_item2 div{width:50%;height:45px;line-height:45px;text-align: center;display:inline-block;}
.leader_list_item2 div{width:13%;}
.leader_list > div:nth-of-type(odd){background:rgb(248, 250, 251);}
.leader_list > div:nth-of-type(even){background:white;}

.bet_box{display: none;}
.bet_content{width:90%;height:150px;background:rgb(255, 237, 231);margin:0 auto;}
.bet_content p{text-align:center;}

.hang_detail{position:fixed;width:100%;height:100%;background:rgba(0, 0, 0, 0.5);top:0;z-index:1000;display: none;}
.hang_box{position: absolute;top:0;bottom:0;left:0;right:0;margin:auto;width:95%;height:50%;}
.hang_btn{display: inline-block;width:100px;height:35px;border-radius:5px;background:rgb(234, 71, 88);border:none;color:white;}
.close_detail{position: absolute;display: block;font-size:1.7rem;background:white;width:30px;height:30px;line-height:30px;border-radius:100%;text-align:center;color:#ccc;bottom:-76px;left:0;right:0;margin:auto;}

@media screen and (max-width:750px) {
    html,body{width:100%;height:100%;}
    .main_header{position:fixed;top:0;width:100%;z-index:999;}

    .data_content{width:95%;}
    .main_header_title{font-size:1.3rem;}
    .data_base_title{font-size:1.2rem;}
    .data_base_span{font-size:1.2rem;}
    .editText{font-size:1rem;;}

    .div_left_title{font-size:1.1rem;}
    .div_right_date{font-size:1rem;}
    .link_span{font-size:1rem;}
}