html,body{width:100%;height:100%;background:rgb(243, 240, 240);}
.marginRight5{margin-right:5px;}
.marginRight10{margin-right:10px;}
.marginRight15{margin-right:15px;}
.textCenter{text-align:center;}
.link_icon_right{position: absolute;right:0;top:0;bottom:0;margin:auto;width:7px;height:7px;border:1px solid rgb(68, 68, 68);border-left:transparent;border-bottom:transparent;transform: rotate(45deg);}