<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <title>首页</title>
    <link rel="stylesheet" href="/pk10_web/layui/css/layui.css">
    <link rel="stylesheet" href="/pk10_web/layui/css/layui.mobile.css">
    <link rel="stylesheet" href="/pk10_web/css/reset.css">
    <link rel="stylesheet" href="/pk10_web/css/main.css">
</head>
<body>
    <header class="main_header">
        <p class="main_header_title textCenter">PK10</p>
        <!-- <section>
            <a href="javascript:;" id="leftBar" class="main_header_title" data-isshow="false">
                <i class="icon-menu"></i>
            </a>
        </section>
        <section>
            <a href="#" class="main_header_title marginRight15">首页</a>
            <a href="#" class="main_header_title">娱乐平台</a>
        </section> -->
    </header>
    <div class="content">
        <div class="navlist" id="navlist"></div>
        <div class="main_content" id="main_content">
            
            <div class="data_content">
                <div class="data_base">
                    <h3 class="data_base_title">
                        <i class="data_base_icon data_base_img"></i>
                        基础信息
                    </h3>
                    <ul class="data_base_list">
                        <li>
                            <span class="data_base_span data_base_titleLeft">
                                <i class="icon-li data_base_icon1"></i>
                                基础信息
                            </span>
                            <span class="data_base_span data_base_titleRight">B12</span>
                        </li>
                        <li>
                            <span class="data_base_span data_base_titleLeft">
                                <i class="icon-li data_base_icon2"></i>
                                用户信息
                            </span>
                            <span class="data_base_span data_base_titleRight">周欣欣</span>
                        </li>
                        <li>
                            <span class="data_base_span data_base_titleLeft">
                                <i class="icon-li data_base_icon3"></i>
                                原注册积分
                            </span>
                            <span class="data_base_span data_base_titleRight">周欣欣</span>
                        </li>
                        <li>
                            <span class="data_base_span data_base_titleLeft">
                                <i class="icon-li data_base_icon4"></i>
                                当前积分
                            </span>
                            <span class="data_base_span data_base_titleRight">周欣欣</span>
                        </li>
                        <li>
                            <span class="data_base_span data_base_titleLeft">
                                <i class="icon-li data_base_icon5"></i>
                                中心积分
                            </span>
                            <span class="data_base_span data_base_titleRight">周欣欣</span>
                        </li>
                        <li>
                            <span class="data_base_span data_base_titleLeft">
                                <i class="icon-li data_base_icon6"></i>
                                原注册积分
                            </span>
                            <span class="data_base_span data_base_titleRight">周欣欣</span>
                        </li>
                        <li>
                            <span class="data_base_span data_base_titleLeft">
                                <i class="icon-li data_base_icon7"></i>
                                任务积分
                            </span>
                            <span class="data_base_span data_base_titleRight">周欣欣</span>
                        </li>
                        <li>
                            <span class="data_base_span data_base_titleLeft">
                                <i class="icon-li data_base_icon8"></i>
                                任务密钥
                            </span>
                            <span class="data_base_span data_base_titleRight">周欣欣</span>
                        </li>
                    </ul>
                </div>

                <div class="data_base">
                        <h3 class="data_base_title">
                            <i class="data_base_icon data_base_new"></i>
                            最新公告
                        </h3>
                        <ul>
                            <li class="div_li">
                                <div class="data_base_div">
                                    <span class="div_left_title">公告</span>
                                    <span class="div_right_date">2018-09-07</span>
                                </div>
                                <div class="data_base_div">
                                    <a class="div_base_detail div_detail">
                                        <span class="link_span">公告详情</span>
                                        <i class="link_icon_right main_link_icon_right"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="div_li">
                                <div class="data_base_div">
                                    <span class="div_left_title">公告</span>
                                    <span class="div_right_date">2018-09-07</span>
                                </div>
                                <div class="data_base_div">
                                    <a class="div_base_detail div_detail">
                                        <span class="link_span">公告详情</span>
                                        <i class="link_icon_right main_link_icon_right"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="div_li">
                                <div class="data_base_div">
                                    <span class="div_left_title">公告</span>
                                    <span class="div_right_date">2018-09-07</span>
                                </div>
                                <div class="data_base_div">
                                    <a class="div_base_detail div_detail">
                                        <span class="link_span">公告详情</span>
                                        <i class="link_icon_right main_link_icon_right"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="div_li">
                                <div class="data_base_div">
                                    <span class="div_left_title">公告</span>
                                    <span class="div_right_date">2018-09-07</span>
                                </div>
                                <div class="data_base_div">
                                    <a class="div_base_detail div_detail">
                                        <span class="link_span">公告详情</span>
                                        <i class="link_icon_right main_link_icon_right"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <div class="link_more">
                                <a href="#">查看更多</a>
                        </div>
                    </div>
            </div>
            
        </div>
    </div>
    <footer>
        <section>
            <div class="footer">
                <a href="#">
                    <i class="footer_icon index_icon"></i>
                    首页
                </a>
                <a href="#">
                    <i class="footer_icon recreation_icon"></i>
                    娱乐平台
                </a>
                <a href="#">
                    <i class="footer_icon user_icon"></i>
                    我的
                </a>
            </div>
        </section>
    </footer>
</body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/layui/layui.js"></script>
<script src="/js/main.js"></script>
</html>